# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://naziyahm3:OAfZb310rTiP2QsK@cluster0.ffmfw9h.mongodb.net/devconnect?retryWrites=true&w=majority&appName=Cluster0

# Server Configuration
PORT=5001
CLIENT_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_SECRET=your_secret

# JWT Secret
JWT_SECRET=your_jwt_secret_key
